<div class="container">
    <div class="row">
        <strong>Import Pokémon pour Shasse</strong>
    </div>
    <div class="row">
        <div class="col-md-12 text-left">
            <button type="submit" class="btn btn-default" ng-click="importpoke()">Import CSV</button>
        </div>

        <div class="col-md-12 text-left">
            <button type="submit" class="btn btn-default" ng-click="aleapoke()">Tirage Pokemon</button>
        </div>

        <div class="col-md-12 text-left">
            <strong>{{pokemon.numero}} {{pokemon.nompokemon}}</strong>
        </div>
    </div>
</div>